<!--
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
-->

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=euc-kr" />
    <title>
        (주)나루데이타 콜센터 시스템
    </title>
    <link href="/css/css.css" rel="stylesheet" type="text/css" />
    <style type="text/css">

        body {
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            background-image: url(/images/sky_bg.jpg);
        }
    </style>
</head>


<body>
    <form name="form1" method="post" action="login.aspx" id="form1">
        <div>
            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTkyODU4NTQ5NGQYAQUeX19Db250cm9sc1JlcXVpcmVQb3N0QmFja0tleV9fFgEFC0J0bkltZ2xvZ2luimADrZc067dtzoG5QZpN49iDKuM=" />
        </div>

        <div>

            <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="1806D926" />
            <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWBALlvI7GAgLT8dy8BQKu47+bCwK1qbSWC3wtG6QuJqePOh81+1E57pURVdHG" />
        </div>
        <div>
            <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" class="sky">
                        <table width="460" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td><img src="~/lmg/Login_img/newLogo.png" width="460" height="70" /></td>
                            </tr>

                            <tr>
                                <td><img src="~/lmg/Login_img/login_02.gif" width="460" height="130" /></td>
                            </tr>

                            <tr>
                                <td height="60" width="5000" align="right" background="/lmg/Login_img/login_03.gif" style="padding-right:32px;">
                                    <table width="180" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="25" height="20"><img src="~/lmg/Login_img/login_id.gif" width="25" height="10" /></td>
                                            <td><input name="txtUserID" type="text" id="txtUserID" class="input_login" style="color:White; width:100px; height:18px;" /></td>
                                            <td width="55" rowspan="2" align="right">
                                                <input type="image" name="BtnImglogin" id="BtnImglogin" tabindex="10" src="~/lmg/Login_img/login_btn.gif" style="height:37px;width:47px;border-width:0px;" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="20"><img src="~/lmg/Login_img/login_pw.gif" width="25" height="10" /></td>
                                            <td>
                                                <input name="txtPassWord" type="password" id="txtPassWord" class="input_login" style="color:White; width:100px; height:18px;" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td><img src="~/lmg/Login_img/login_04.gif" width="460" height="20"></td>
                            </tr>
                        </table>
                    </td>

                </tr>
            </table>
        </div>
    </form>
</body>
</html>