@using MyApp.Models
@model Student

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<h3>Add New Student</h3>
<form class="form form-horizontal" asp-antiforgery="false" method="POST">
    <div class="form-group">
        <img src="https://image.ibb.co/jKfYKx/computer.jpg" />
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <label>Name:</label>
            <input type="text" class="form-control" asp-for="name" />
            <span asp-validation-for="name"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <label>Age:</label>
            <input type="text" class="form-control" asp-for="age" />
            <span asp-validation-for="age"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <label>Country:</label>
            <input type="text" class="form-control" asp-for="country" />
            <span asp-validation-for="country"></span>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>